# Documentation
pydocstyle
{% if cookiecutter.docs_tool == "mkdocs" -%}
mkdocs
mkdocs-material
mkautodoc
{%- endif %}
{% if cookiecutter.docs_tool == "sphinx" -%}
furo
sphinx
sphinx-click
sphinx-markdown-tables
sphinx-rtd-theme
recommonmark
myst_parser
{%- endif %}
